@charset "utf-8";
.boxs {
	border: 1px solid blue;
	background-color: rgba(255,0,0,0.2);
	color: blue;
}
.header {
	z-index: 9990;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border-bottom: 1px solid #eee;
	background-color: white;
}
.header .btn-left {
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px 20px;
	line-height: 22px;
}
.header input {
	position: absolute;
	top: 8px;
	left: 20%;
	width: 60%;
	padding: 6px 0;
	border: 1px solid #18B4FE;
	border-radius: 8px;
	text-align: center;
	outline: none;
	-webkit-appearance: none;
}
.header .btn-right {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 20px;
	color: #18B4FE;
}
/*热门搜索*/
.nav-title {
	margin: 8px 0 6px 0px;
	font-size: 14px;
	color: gray;
}
.hot-words {
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.hot-words li {
	display: inline-block;
	margin-left: 15px;
	padding: 4px 20px;
	border: 1px solid #FF6990;
	border-radius: 50px;
	color: #FF6990;
	cursor:pointer;
}
.hot-sec {
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	display: inline-block;
}
.hot-sec b {
	display: inline-block;
	margin-left: 12px;
	padding: 4px 6px;
	border: 1px solid #006990;
	border-radius: 10px;
	color: #006990;
	cursor:pointer;
}

/*mescroll 滚动区域*/
.mescroll {
	position: fixed;
	top: 44px;
	bottom: 0;
	height: auto;
}
/*搜索结果*/
.data-list li {
	position: relative;
	padding: 10px 8px 10px 120px;
	border-bottom: 1px solid #eee;
}
.data-list .pd-img {
	position: absolute;
	left: 18px;
	top: 10px;
	width: 95px;
	height: 130px;
}
.data-list .pd-name {
	font-size: 16px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #f00;
	
	white-space:nowrap;
	
	text-overflow:ellipsis;
}
.data-list .pd-dec {
	font-size: 14px;
	margin-top: 8px;
	height: 56px;
	overflow: hidden;
	text-overflow:ellipsis;
}
.data-list .pd-date {
	font-size: 12px;
	margin-top: 8px;
	color: gray;
}
.data-list .pd-size {
	font-size: 12px;
	margin-top: 2px;
	color: gray;
}

/*回到顶部按钮*/
.mescroll-totop {
	font-size: 12px;
	line-height: 10px;
	background-color: white;
	border: 1px solid gray;
	text-align: center;
}
.mescroll-totop p {
	padding-top: 6px;
	color: #666;
}    .bookshelf {
        width: 100%;
        height:100%;
		padding-top:48px;
    }
    .book-item {
		display:inline-block;
		margin:6px 15px;
        width: 99px;
    }
    .book-cover {
        position: relative;
        width: 99px;
        height: 132px;
        box-shadow: var(--el-box-shadow-light);
        transform: scale(.9) perspective(80px) rotateY(6deg) translateX(6px);
        transition: transform .4s ease-out;
    }
	.book-dover {
		position: relative;
        width: 100px;
        height: 152px;
        box-shadow: var(--el-box-shadow-light);
        transform: scale(.9) perspective(90px) rotateY(-1deg) translateX(-1px);
        transition: transform .4s ease-out;    }
   .book-dover:hover , .book-cover:hover {
        transform: scale(1);
    }
	.book-dover:before  {
        box-sizing: border-box;
        content: "";
        z-index: 2;
        position: absolute;
        top: 0;
        right: 2px;
        display: inline-block;
        border-left: 2px solid #0005;
        border-radius: 2px 0 0 2px;
        height: 100%;
    }
    .book-cover::before {
        box-sizing: border-box;
        content: "";
        z-index: 2;
        position: absolute;
        top: 0;
        left: 5px;
        display: inline-block;
        border-left: 2px solid #0005;
        border-radius: 2px 0 0 2px;
        height: 100%;
    }
	 .book-dover:after{
        box-sizing: border-box;
        content: "";
        z-index: 0;
        position: absolute;
        top: 3%;
        left: -3px;
        display: inline-block;
        border: 1px solid #DEDEDE;
        border-radius: 9px;
        width: 10px;
        height: 93%;
        background-color: #ECEBEB;
    }
    .book-cover:after {
        box-sizing: border-box;
        content: "";
        z-index: 0;
        position: absolute;
        top: 3%;
        right: -6px;
        display: inline-block;
        border: 1px solid #DEDEDE;
        border-radius: 9px;
        width: 10px;
        height: 93%;
        background-color: #ECEBEB;
    }
    .book-state {
        opacity: .9;
        z-index: 2;
		width:.75em;
        position: absolute;
        top: 5px;
        left: 8px;
        border-radius: 3px;
        padding: 2px 5px;
        color: #F4F3F3;
        font-size: .7em;
        background-color: #575959;
    }
    .book-state.book-updating {
        color: #FFFBED;
        background-color: #FF6E15;
    }
    .book-img {
        position: absolute;
        z-index: 1;
        border-left: 2px solid #0008;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .book-name {
        opacity: .8;
        display: -webkit-box;
        margin: 8%;
		text-align:center;
		border: 1px solid #006990;
		border-radius: 10px;
		color: #006990;
		cursor:pointer;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .book-describe {
		text-align:center;
        font-size: .75em;
    }

.tj_wrapper{
	width:100%;
	height:100%;
	position:relative;
	text-align:center;
	margin-top:40px;
}

.tj_wrapper ul li{
	border: 2px dashed #900;
	width:30%;
	height:45vw;
	margin:1% 1%;
	text-align:center;
	display:inline-block;	
}
.tj_wrapper ul li img{
	width:100%;
	height:100%;
	display:block;
	border:none;
	opacity:0.7;
	-moz-box-shadow:2px 2px 4px #8e8e8e;
	-webkit-box-shadow:2px 2px 4px #8e8e8e;
	box-shadow:2px 2px 4px #8e8e8e;
}
.tj_wrapper ul li img:hover{
	opacity:1.0;
}
.tj_wrapper ul li .name{
		opacity: .8;
		margin:5px 0;
		border: 1px solid #006990;
		border-radius: 10px;
		color: #006990;
		cursor:pointer;
        width: 100%;
		text-align:center;
        overflow: hidden;
        text-overflow: ellipsis;
}